/*universal styling*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body{
  min-height: 100vh;
  min-width: 100%;
  background-image: url(/image/pic3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.parent-container{
  height: 400px;
  width: 600px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
img{
  height: 295px;
  width: 300px;
}
.form-container{
  height: 294px;
  width: 300px;
  background-color: rgba(37, 127, 152, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
}
#input{
  height: 35px;
  width: 250px;
  margin: 2px;
  border-radius: 4px;
  border: none;
  padding: 8px;
}
#check{
  height: 15px;
  width: 15px;
  align-items: center;
  margin:7px;
}
button{
  height: 35px;
  width: 100px;
  border-radius: 4px;
  border: none;
  background-color: rgb(17, 16, 16);
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px 20px;
  align-items: center;
}
