/*universal style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
/*body style*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f2f5;
    background-image: url(/image/pic3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
  height: 300px;
  width: 350px;
  border-radius: 10px;
}
/*container style*/
.parent-container{
  height: 360px;
  width: 700px;
  display: flex;
  background-color: rgba(87, 87, 84, 0.648);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}
.signup-container{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 4px;
  margin: 4px;
}
#sign{
  padding: 10px;
  margin: 4px;
  width: 80%;
  border-radius: 4px;
  border: none;
}